.contenedor::-webkit-scrollbar
{
       width: 5px;
       background-color: white;
}

body
{
       background-color: black;
       font-family: Arial, Helvetica, sans-serif;
       margin-left: 15px;
       margin-right: 15px;
       padding: 0px;
}

header
{
       background-color: rgb(20, 130, 11);
       border: 2px solid white;
       border-radius: 5px;
       width: 100%;
       height: 100px;
       clear: none;
       content: '';
       display: flex;
       position: relative;
       z-index: 20;  
}

#logo
{
       width: 68px;
       height: 68px;
       margin-top: 15px;
       margin-left: 15px;
       padding: 5px;
       border: 3px solid white;
       border-radius: 16px;
}

#letras
{
       width: 280px; 
       height: 50px; 
       margin-top: 10px;
       margin-bottom: 0px;
       margin-left: 0px;
       margin-right: 0px;
}

#menu
{
       width: 100%;   
}

#nav1
{
       float: right;
}

#nav1 #ul1 #li1 #a1
{
       text-decoration: none;
       color: white;
       font-size: 20px;
       font-weight: bold; 
}

#nav1 #ul1 #li1 #a1:hover
{
       background-color:rgb(20, 130, 11);
       color: rgb(0, 48, 182);
}

#ul1 #li2 #a2:hover 
{
       background-color:rgb(20, 130, 11);
       color: rgb(0, 48, 182);
}

#ul1 #li1 #ul2 
{
       display:none;
       position:absolute;
       min-width:140px;
}

#ul1 #li1:hover > #ul2 
{
       display:block;
}

#ul1 > #li2 /* ? */
{
       float:right;
}

#check1
{
       width: 55px;
       height: 55px;
       border: 2px solid white;
       float: right;
       display: none;
}

#check2
{
       width: 25px;
       height: 25px;
       float: left;
       margin-top: 0px;
       margin-left: 5px;
       margin-right: 20px;
}

#burger
{
       width: 55px;
       height: 55px;
       border: 3px solid white;
       border-radius: 16px;
       margin-top: 18px;
       margin-right: 18px;
       padding: 0px;
       float: right;
       display: none;
}

#burger:hover
{
       cursor: pointer;
       background-color: rgb(0, 48, 182);
       border: 3px solid white;
       border-radius: 16px;
}

hr
{
       background-color: gray;
}

h1
{
       color:white;
       font-family: Arial, Helvetica, sans-serif;
       font-size: 18px;  
       text-align: center;
       padding: 0;
} 

h2
{
       color:white;
       font-family: Arial, Helvetica, sans-serif;
       font-size: 18px;  
       text-align: left;
       padding: 0px;
} 

h3
{   
       color: aqua;
       font-family: Arial, Helvetica, sans-serif;
       font-size: 20px;  
       text-align: center;
       padding: 0;
       font-weight: bold;
} 

h4
{
       color: aqua;
       font-family: Arial, Helvetica, sans-serif;
       font-size: 20px;  
       text-align: left;
       padding: 0;
       font-weight: bold;
       float: left;
} 

h5
{
       color:white;
       font-family: Arial, Helvetica, sans-serif;
       font-size: 18px;  
       text-align: left;
       float: left;
       padding: 0px;
} 

text
{
       color: white;
       font-family: Arial, Helvetica, sans-serif;
       font-size: 18px;
       text-align: center;
       padding-left: 50px;
}

#text2
{
       color: white;
       font-family: Arial, Helvetica, sans-serif;
       font-size: 18px;
       text-align: left;
       float: left;
       padding: 0;
       margin: 12px;
}

pre
{
       color:white;
       font-family: Arial, Helvetica, sans-serif;
       font-size: 18px; 
       text-align: center; 
       padding: 0;
} 

label
{
       border: 0px solid white;
       color: white;
       font-family: Arial, Helvetica, sans-serif;
       font-size: 18px;
       width: 100%;
       height: 20px;
       text-align: left;
       margin-top: 8px;
       margin-bottom: 0px;
       padding: 0px;
}

#label_perfil
{
       color: white;
       font-family: Arial, Helvetica, sans-serif;
       font-size: 18px;
       padding-top: 0px;
       width: 130px;
       height: 35px;
       text-align: left;
}

#boton1
{
       color: white;
       border: 0px;
       border-radius: 5px;
       background-color: rgb(16, 56, 116);
       font-family: Arial, Helvetica, sans-serif;
       font-size: 18px;
       margin: 3px;
       padding-top: 5px;
       width: 48%;
       height: 35px;
       float:left;  
}

#boton2
{
       color: white;
       border: 0px;
       border-radius: 5px;
       background-color: rgb(16, 56, 116);
       font-family: Arial, Helvetica, sans-serif;
       font-size: 18px;
       padding-top: 5px;
       width: 100%;
       height: 35px;
       float:unset;
}

#boton3
{
       color: white;
       border: 0px;
       border-radius: 5px;
       background-color: rgb(16, 56, 116);
       font-family: Arial, Helvetica, sans-serif;
       font-size: 18px;
       width: 120px;
       height: 35px;
       float:left;
       margin-right: 5px;

}

#boton_con
{
       color: white;
       border: 0px;
       border-radius: 5px;
       background-color: #262626;
       font-family: Arial, Helvetica, sans-serif;
       font-size: 18px;
       width: 100%;
       height: 60px;
       float:left;
       margin-bottom: 8px;
       padding: 0;
}

#boton_fut
{
       background-color: #111111;
       border: 0px;
       margin: 0px;
       padding: 0px;
}

#boton_editar
{
       width: 30px;
       height: 30px;
       border: 2px solid gray;
       border-radius: 30px;
}

#boton_guardar
{
       width: 30px;
       height: 30px;
       border: 2px solid gray;
       border-radius: 30px;
       padding: 5px;
}

#boton_eliminar
{
       width: 30px;
       height: 30px;
       border: 2px solid gray;
       border-radius: 30px;
       padding: 5px;
}

#boton_editar:hover
{
       background-color: rgb(189, 20, 20);
       border-radius: 30px;
}

#boton_guardar:hover
{
       background-color: rgb(189, 20, 20);
       border-radius: 30px;
}

#boton_eliminar:hover
{
       background-color: rgb(189, 20, 20);
       border-radius: 30px;
}

input
{
       color: white;
       background-color: #202020;
       border: 0px solid gray;
       border-radius: 5px;
       font-family: Arial, Helvetica, sans-serif;
       font-size: 18px;
       padding: 0px;
       width: 100%;
       height: 35px;
       text-align: center;  
       margin-top: -10px;  
}

#input_perfil
{
       color: white;
       background-color: #202020;
       border: 0px solid white;
       border-radius: 5px;
       font-family: Arial, Helvetica, sans-serif;
       font-size: 18px;
       padding: 0px;
       width: 50%;
       height: 35px;
       text-align: center; 
       float: right; 
}

select
{
       color: white;
       background-color: #202020;
       border: 0px;
       border-radius: 5px;
       font-family: Arial, Helvetica, sans-serif;
       font-size: 18px;
       padding: 0px;
       width: 100%;
       height: 35px;
       float: unset;
       text-align: center;
}

#check
{
       width: 30px;
       height: 30px;
       float: left;
       margin-left:  10px;
       margin-right:  30px;
}

#caja0
{
       background-color: black;
}

#caja1 
{
       border: 1px solid gray;
       border-radius: 5px;
       background-color: #101010;
       font-family: Arial, Helvetica, sans-serif;
       font-size: 20px;
       padding: 20px;
       width:100%;
       float:none;
}

#caja2
{
       color: white;
       border-radius: 5px;
       background-color: #202020;
       font-family: Arial, Helvetica, sans-serif;
       font-size: 20px;
       width: 100%;
       height:172px;
       float:left;
}

#caja3
{
       background-color: #202020;
       font-family: Arial, Helvetica, sans-serif;
       font-size: 20px;
       width:100%;
       height:200px;
       float:unset;
}

#caja_des
{
       border: 1px solid gray;
       border-radius: 5px;
       background-color: #101010;
       font-family: Arial, Helvetica, sans-serif;
       font-size: 20px;
       padding: 20px;
       width:100%;
       float:none;
}

#caja_resp
{
       background-color: #101010;
}

#caja_perfil
{
       border: 1px solid gray;
       border-radius: 5px;
       background-color: #101010;
       text-align: center; 
       width: 100%;
       height: "width";

}

#caja_editar
{
       border: 0px solid white;
       float: right;
       margin-top: -6px;
}

#caja_redes
{
       border: 0px solid white;
       border-radius: 5px;
       background-color: #101010;
       width: 100%;
       height: 50px;
       float: left;
       text-align: center; 
}

#caja_mapa
{
       border: 0px solid white;
       background-color: #101010;
       font-family: Arial, Helvetica, sans-serif;
       width:100%;
       float:unset;
}

#caja_check
{
       border: 0px solid white;
       border-radius: 5px;
       background-color: #101010;
       font-family: Arial, Helvetica, sans-serif;
       font-size: 20px;
       width:100%;
       clear: none;
       content: '';
       display: flex;
       position: relative;
       z-index: 20; 
       margin-bottom: -10px;
       
}

#caja_check2
{
       width: 200px;
       height: 40px;
       border: 0px solid white;
}


#caja_nov
{
       border: 1px solid gray;
       border-radius: 5px;
       background-color: #101010;
       font-family: Arial, Helvetica, sans-serif;
       padding: 20px;
       width:100%;
       float: none;
}

.carousel-inner
{
       border-radius: 5px;
}

.form-check-input
{
       margin: 0px;
       padding: 0px;
       width: 20px;
       height: 20px;
}

.form-check-label
{
       color: white;
       font-family: Arial, Helvetica, sans-serif;
       font-size: 18px;
       width: 35px;
       height: 35px;
       padding-top: 3px;
       margin: 0;
}

.form-check1
{
       padding-top: 7px;
       margin-right: 30px;
       width: 20px;
       height: 20px;
}

table
{
       background-color: #101010;
       border: 0px solid #111111;
       width: 100%;
       float: right;
}

th
{  
       border: 1px solid white;
       background-color: rgb(16, 56, 116);
}

td
{
       height: 40px;
       border: 1px solid white;
       color: white;
}

#img_con
{
       border-radius: 5px;
       width: 60px;
       height: 60px;
       float: left;
}

audio
{
       width: 90%;
       height: 40px;;
       margin: 0px;
       padding: 0px;
}

@media(min-width: 1001px)
{
       #nav1
       {
              display: table;
       }

       #nav1 #ul1
       {
              margin-left: 0px;
       }

       #nav1 #ul1 #li1
       {
              list-style: none;
              padding-top: 30px;
              padding-bottom: 30px;
              padding-left: 0px;
              padding-right: 30px;
              margin-top: 0px;
              margin-bottom: 0px;
              margin-left: 0px;
              margin-right: 0px;
              float: left;
              font-size: 20px;
       }

       #ul2
       {
              margin-top: 20px;
              list-style:none;
       }

       #ul1 #li2 #a2 
       {
              border: 2px solid white;
              background-color:#101010;
              color:white;
              font-size: 18px;
              text-decoration:none;
              padding-top: 8px;
              padding-bottom: 8px;
              padding-right: 30px;
              padding-left: 0px;
              margin-top: 0px;
              margin-bottom: -2px;
              margin-left: -120px;
              margin-right: 41px;
              text-align: right;
              display:block;
       }

       #caja_buscar
       {
              border: 1px solid white;
              border-radius: 5px;
              background-color: #101010;
              width: 20%;
              height: 1100px;
              float: left;
              padding: 10px;
       }

       #caja_buscar2
       {
              border:1px solid white;
              border-radius: 5px;
              background-color: #101010;
              width: 78%;
              height: 1100px;
              float: right;
              
       }

       #buscador
       {
              display: none;
              color: white;
              border: 0px solid white;
              border-radius: 5px;
              background-color: rgb(16, 56, 116);
              font-family: Arial, Helvetica, sans-serif;
              font-size: 18px;
              padding-top: 5px;
              width: 20%;
              height: 35px;
              float:unset;
       }

       #imagen_carr
       {
              width: 500px;
              height: 500px;
              float: left;  
       }

       #caja_carr1
       {
              width: 800px;
              height: 500px;
              border: 0px solid white;  
       }

       #caja_carr2
       {
              border: 0px solid rgb(16, 56, 116);
              background-color: #202020;
              font-family: Arial, Helvetica, sans-serif;
              font-size: 20px;
              width:290px;
              height:500px;
              padding-left: 20px;
              float:left;
       }

       #caja_contactos
       {
              border: 1px solid white;
              border-radius: 5px;
              background-color: #101010;
              font-family: Arial, Helvetica, sans-serif;
              font-size: 20px;
              padding: 20px;
              width:30%;
              height: 600px;
              float:left;
       }

       #caja_chat
       {
              border: 1px solid white;
              border-radius: 5px;
              background-color: #101010;
              font-family: Arial, Helvetica, sans-serif;
              font-size: 20px;
              padding: 20px;
              width:68%;
              height: 600px;
              float:right;
       }

       #caja_chat2
       {
              border: 0px solid white;
              border-radius: 5px;
              background-color: #202020;
              font-family: Arial, Helvetica, sans-serif;
              font-size: 20px;
              padding: 10px;
              margin-bottom: 20px;
              width:100%;
              height: 450px;
              float:right
       }

       /*#carousel1
       {
              border: 1px solid gray;
              border-radius: 5px;
              background-color: #101010;
              height: 502px;
       }

       #carousel2
       {
              border: 1px solid gray;
              border-radius: 5px;
              background-color: #101010;
              height: 502px;
       }*/   

}

@media (max-width: 1000px)
{
       #burger
       {
              display: table;
       }

       #nav1
       {
              margin-left: -41px;
              display: none;
       }
       
       #nav1 #ul1
       {
              margin-top: 15px;  
              margin-left: -1px;
              margin-right: -2px; 
       }

       /*
       #nav1 #ul1 #li1 #a1
       { 
              padding-top: 12px;
              padding-bottom: 11px;
              padding-left: 180px;
              padding-right: 180px;    
       }
       */

       #nav1 #ul1 #li1
       {
              background-color: #101010;
              width: 100%;
              height: 50px;
              padding-top: 0px;
              padding-bottom: 0px;
              padding-right: 0px;
              padding-left: 0px;
              border-left: 2px solid white;
              border-right: 2px solid white;
              border-bottom: 2px solid white;
              font-size: 20px;
              float:right;
              text-align: center;
       }

       #nav1 #ul1 #li1 #a1
       {
              padding-top: 9px;
              padding-bottom: 9px;
              padding-left: 80px;
              padding-right: 80px;
              display: block;
       }

       #ul1 #li1 #ul2
       {
              width: 100%;
              margin-top: 0px;
              margin-left: -20px;
              text-decoration: none;
              list-style:none;
       }

       #ul1 #li2 #a2 
       {
              border: 2px solid white;
              background-color:#101010;
              color:white;
              font-size: 18px;
              text-decoration:none;
              padding-top: 8px;
              padding-bottom: 8px;
              padding-right: 0px;
              padding-left: 0px;
              margin-top: 0px;
              margin-bottom: -2px;
              margin-left: 80px;
              margin-right: 80px;
              text-align: center;
              display:block;
       }

       #caja_buscar
       {
              border: 1px solid gray;
              border-radius: 5px;
              background-color: #101010;
              font-family: Arial, Helvetica, sans-serif;
              font-size: 20px;
              padding: 20px;
              width:100%;
       }

       #caja_buscar2
       {
              display: none;
       }

       #buscador
       {
              display: block;
              color: white;
              border: 0px solid white;
              border-radius: 5px;
              background-color: rgb(16, 56, 116);
              font-family: Arial, Helvetica, sans-serif;
              font-size: 18px;
              padding-top: 5px;
              width: 100%;
              height: 35px;
              float:unset;
       }

       #imagen_carr
       {
              width: 500px;
              height: 500px;
              float: left;
       }

       #caja_carr1
       {
              width: 500px;
              height: 800px;
              border: 0px solid white;
       }

       #caja_carr2
       {
              border: 0px solid rgb(16, 56, 116);
              background-color: #202020;
              font-family: Arial, Helvetica, sans-serif;
              font-size: 20px;
              width:500px;
              height:300px;
              padding-left: 20px;
              float:left;
       }

       #caja_contactos
       {
              border: 1px solid gray;
              border-radius: 5px;
              background-color: #101010;
              font-family: Arial, Helvetica, sans-serif;
              font-size: 20px;
              padding: 20px;
              width:100%;
              height: 600px;
              float:none;
       }

       #caja_chat
       {
              border: 1px solid white;
              border-radius: 5px;
              background-color: #101010;
              font-family: Arial, Helvetica, sans-serif;
              font-size: 20px;
              padding: 20px;
              width:100%;
              height: 600px;
              float:right;
              display: none;
       }

       #caja_chat2
       {
              border: 0px solid white;
              border-radius: 5px;
              background-color: #202020;
              font-family: Arial, Helvetica, sans-serif;
              font-size: 20px;
              padding: 10px;
              margin-bottom: 20px;
              width:100%;
              height: 450px;
              float:right
       }

       /*#carousel1
       {
              border: 1px solid gray;
              border-radius: 5px;
              background-color: #101010;
              height: 802px;
       }
       
       #carousel2
       {
              border: 1px solid gray;
              border-radius: 5px;
              background-color: #101010;
              height: 802px;
       }*/

}