{% extends "base.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/estilo oscuro.css' %}">
  <div id="caja0">
    <div id="caja1"> <!--Caja para registrarse como usuario-->
      <h3>Contratos</h3>
      <form action="index.html" method="post" name="datos" onsubmit="return validacion()">
        <div class="row">
          <div class="col-lg-4" id="cajares"></div>
              
          <div class="col-lg-4" id="cajares">
            <label>Numero de contrato</label>
            <input type="number" name="numero de contrato" id ="num_con" placeholder="---">
            <br>
            <label>Rut</label>
            <input type="number" name="rut" id ="rut" placeholder="---">
            <br>
            <label>Nombres</label>
            <br>
            <input type="text" name="nombres" id ="nom" placeholder="---">
            <br>
            <label>Apellidos</label>
            <br>
            <input type="text" name="apellidos" id ="ape" placeholder="---">
            <br>
            <label>Cargo</label>
            <br>
            <input type="text" name="cargo" id ="car" placeholder="---">
            <br>
            <label>Sueldo bruto</label>
            <br>
            <input type="number" name="Sueldo bruto" id="sueldo_b" placeholder="---">
            <br>
            <label>Duracion</label>
            <br>
            <input type="text" name="duracion" id="dur" placeholder="---">
            <br>
            <label>Fecha de inicio</label>
            <br>
            <input type="date" name="fecha inicio" id="fecha_i" placeholder="---">
            <br>
            <label>Fecha de termino</label>
            <br>
            <input type="date" name="fecha termino" id="fecha_t" placeholder="---">
            <br>
            <label>Documento</label>
            <input type="file">
            <br><br>
            <button id="boton1" type="submit"><h1>Crear</h1></button>
            <button id="boton1"><h1>Actualizar</h1></button>
            <button id="boton1"><h1>Buscar</h1></button>
            <button id="boton1"><h1>Eliminar</h1></button>
          </div>
        
          <div class="col-lg-4" id="cajares"></div>

        </div>  
      </form>
    </div>
  </div>      
{% endblock %}