{% extends "base.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/estilo oscuro.css' %}">
  <div id="caja0">
    <div id="caja1">  <!--Caja de datos de usuario en el perfil-->
      <h4>
        Nombre de usuario 
      </h4> 
      <br>
      <hr>
      <div class="row">
        <div class="col-lg-4" id="cajares">
          <div id="caja_perfil">
            <img src="{% static 'Imagenes/Perfil 2.jpg' %}" width="100%" height="width" style="border-radius: 5px;">
          </div>
        </div>
        <div class="col-lg-4" id="cajares">   
          <label>Rut</label>
          <input value="15.505.774-k">  
          <label>Nombre</label>
          <input value="Sebastian">   
          <label>Apellidos</label>
          <input value="Gonzales">
          <label>Telefono</label>
          <input value="+56954345459">
        </div>
        <div class="col-lg-4" id="cajares">
          <label>Email</label>
          <input value="Seba6565@gmail.com">
          <label>Contraseña</label>
          <input value="dfgfg">
          <label>Cuenta bancaria</label>
          <input value="45645656">
          <label>Numero de contrato</label>
          <input value="02-03-2022">
        </div>
      </div>
    </div>    
    <br>
    <button id="boton2" style="width: 200px;"><h1>Guardar cambios</h1></button>
    <br><br>
  </div>      
{% endblock %}