<!doctype html>
<html>
<head>
  <title>Feria Perfil</title> 
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="css/bootstrap.min.css" type="text/css" rel="stylesheet"> 
  <link rel="stylesheet" type="text/css" href="css/estilo oscuro.css">
  <script src="javascript/funciones.js" type="text/Javascript"></script>
</head>

<body>
  <header>  
    <div id="menu">
      <img src="Imagenes/Icono frutas 1.png" id="logo">
      <img src="Imagenes/Letras4.png" id="letras">
      <input type="checkbox" id="check1" onclick="burger()">
      <label id="burger" for="check1" ><img src="Imagenes/Burger 3.png" width="55px" height="55px"></label>
      <nav id="nav1">
        <ul id="ul1">
          <li id="li1"><a id="a1" href="Feria Inicio.html">Inicio</a></li>
          <li id="li1"><a id="a1" href="Feria Mercado.html">Mercado</a></li>
          <li id="li1"><a id="a1" href="Feria Contratos.html">Contratos</a></li>
          <li id="li1"><a id="a1" href="Feria Subastas.html">Subastas</a></li>
          <li id="li1"><a id="a1" href="">Cuenta</a>
            <ul id="ul2">
              <li id="li2"><a id="a2" href="Feria Perfil.html">Perfil</a></li>
              <li id="li2"><a id="a2" href="Feria Ingresar.html">Ingresar</a></li>
              <li id="li2"><a id="a2" href="Feria Registrarse.html">Registrse</a></li>
              <li id="li2"><a id="a2" href="Feria Perfil.html">Estadisticas</a></li>
              <li id="li2"><a id="a2" href="">Ajustes</a></li>
            </ul>
          </li>
        </ul>
      </nav>
    </div>
  </header><br>
  
  <div id="caja0">
    <div id="caja1">  <!--Caja de datos de usuario en el perfil-->
      <h4>
        Nombre de usuario 
      </h4> 
      <br>
      <hr>
      <div class="row">
        <div class="col-lg-4" id="cajares">
          <div id="caja_perfil">
            <img src="Imagenes/Perfil 2.jpg" width="100%" height="width" style="border-radius: 5px;">
          </div>
        </div>
        <div class="col-lg-4" id="cajares">   
          <label>Rut</label>
          <input value="15.505.774-k">  
          <label>Nombre</label>
          <input value="Sebastian">   
          <label>Apellidos</label>
          <input value="Gonzales">
          <label>Telefono</label>
          <input value="+56954345459">
        </div>
        <div class="col-lg-4" id="cajares">
          <label>Email</label>
          <input value="Seba6565@gmail.com">
          <label>Contraseña</label>
          <input value="dfgfg">
          <label>Cuenta bancaria</label>
          <input value="45645656">
          <label>Numero de contrato</label>
          <input value="02-03-2022">
        </div>
      </div>
    </div>    
    <br>


    <button id="boton2" style="width: 200px;"><h1>Guardar cambios</h1></button>
 
    <br><br>
  </div>      
</body>
</html>