{% extends "base.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/estilo oscuro.css' %}">
  <div id="caja0">
    <div id="caja1"> <!--Caja para registrarse como usuario-->
      <h3>Registro</h3>
      <form action="index.html" method="post" name="datos" onsubmit="return validacion()">
        <div class="row">
          <div class="col-lg-4" id="cajares"></div>
              
          <div class="col-lg-4" id="cajares">
            <label>Rut</label>
            <input type="text" name="rut" id ="rut" placeholder="---">
            <br>
            <label>Nombres</label>
            <br>
            <input type="text" name="nombres" id ="nom" placeholder="---">
            <br>
            <label>Apellidos</label>
            <br>
            <input type="text" name="apellidos" id ="ape" placeholder="---">
            <br>
            <label>Telefono</label>
            <br>
            <input type="text" name="Telefono" id="fono" placeholder="---">
            <br>
            <label>Email</label>
            <br>
            <input type="text" name="email" id="email" placeholder="---">
            <br>
            <label>Contraseña</label>
            <br>
            <input type="password" name="contraseña" id="con" placeholder="---">
            <br>
            <label>Cuenta bancaria</label>
            <br>
            <input type="number" name="cuenta" id="cuenta" placeholder="---">
            <br>
            <label>Region</label>
            <select id="region" name="region">
              <option value="">- Selecciona una opción -</option>
              <option value="1">I Región</option>
              <option value="2">II Región</option>
              <option value="3">III Región</option>
              <option value="4">IV Región</option>
              <option value="5">V Región</option>
              <option value="6">VI Región</option>
              <option value="7">VII Región</option>
              <option value="8">VIII Región</option>
              <option value="9">IX Región</option>
              <option value="10">X Región</option>
              <option value="11">XI Región</option>
              <option value="12">XII Región</option>
              <option value="13">Region Metropolitana</option>
              <option value="14">XIV Región</option>
              <option value="15">XV Región</option>
              <option value="16">XVI Región</option>
            </select>
            <label>Provincia</label>
            <select id="oprov" name="prov">
              <option value="">- Selecciona una opción -</option>
              <option value="1">Santiagon</option>
              <option value="2">Maipú</option>
              <option value="3">Recoleta</option>
            </select>
            <label>Dirección</label>
            <input type="text">
            <br><br>
            <button id="boton1" type="submit"><h1>Enviar datos</h1></button>
            <button id="boton1"><h1>Salir</h1></button>
          </div>
        
          <div class="col-lg-4" id="cajares"></div>

        </div>  
      </form>
    </div>
  </div>  
{% endblock %}